.main {
	border: 1px solid transparent;
	border-radius: 8px;
	display: flex;
	font-size: 14px;
	padding: 16px;
}

.error {
	background: var(--R50);
	border-color: var(--R400);
	color: var(--R400);
}

/* stylelint-disable-next-line selector-max-type, selector-max-combinators */
.error a, .error strong { color: inherit }

.info {
	background: var(--N50);
	border-color: var(--N400);
	color: var(--N400);
}

/* stylelint-disable-next-line selector-max-type, selector-max-combinators */
.info a, .info strong { color: inherit }

.success {
	background: var(--G50);
	border-color: var(--G400);
	color: var(--G400);
}

/* stylelint-disable-next-line selector-max-type, selector-max-combinators */
.success a, .success strong { color: inherit }

.warning {
	background: var(--Y50);
	border-color: var(--Y400);
	color: var(--Y500);
}

/* stylelint-disable-next-line selector-max-type, selector-max-combinators */
.warning a, .warning strong { color: inherit }

.icon {
	margin-right: 16px;
}

.title {
	color: inherit;
	font-weight: bold;
	margin: 0 0 8px;
}

.text {
	display: flex;
	flex-direction: column;
}

.children { color: var(--COLOR-GRAY-800) }