.main {
	align-items: center;
	border-radius: 4px;
	display: inline-flex;
	font-size: 11px;
	height: 16px;
	padding: 0 6px;
}

.blue {
	background: var(--B200);
	color: var(--B600);
}

.green {
	background: var(--G300);
	color: var(--G600);
}

.neutral {
	background: var(--N300);
	color: var(--N800);
}

.orange {
	background: var(--O200);
	color: var(--O600);
}

.purple {
	background: var(--P200);
	color: var(--P600);
}

.red {
	background: var(--R200);
	color: var(--R600);
}

.turquoise {
	background: var(--T200);
	color: var(--T600);
}

.violet {
	background: var(--V200);
	color: var(--V600);
}

.yellow {
	background: var(--Y200);
	color: var(--Y600);
}