@keyframes spinner {
	0% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(360deg)
	}
}

@keyframes spinnerCircle {
	0% {
		stroke-dashoffset: 600
	}

	100% {
		stroke-dashoffset: 0
	}
}

.main { display: inline-flex }

.default { color: rgba(67, 90, 111, 0.47) }
.white { color: rgba(239, 242, 245, 0.87) }

.svg {
	animation: 2s linear 0s infinite normal none running spinner;
}

.circle {
	animation: spinnerCircle 1.6s cubic-bezier(0.4, 0.15, 0.6, 0.85) infinite;
	fill: transparent;
	stroke: currentColor;
	stroke-dasharray: 300;
	stroke-dashoffset: 600;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-width: 12;
}