name: Run Benchmarks
on:
  workflow_dispatch:
  push:
    branches:
      - master
jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'yarn'
      
      - name: Install
        run: |
          # Install dependencies
          yarn install --immutable

          # Install hyperfine
          wget https://github.com/sharkdp/hyperfine/releases/download/v1.19.0/hyperfine_1.19.0_amd64.deb
          sudo dpkg -i hyperfine_1.19.0_amd64.deb
      
      - name: Install bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.8

      - name: Run
        run: |
          hyperfine --warmup 1 \
          'yarn workspace bun test' \
          'yarn workspace jasmine test' \
          'yarn workspace jest test' \
          'yarn workspace vitest test --isolate=false' \
          'yarn workspace tape test'